name: Post JSON File to Two URLs

on:
  push:
    branches:
      - main  # Runs only when pushing to the main branch
  workflow_dispatch: # Allows manual trigger

jobs:
  post_json:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Send JSON Data to First URL
        run: |
          curl -X POST "https://:3M-b_NtLTeespVYOgnOFHA@eu.tandem.autodesk.com/api/v1/timeseries/models/urn:adsk.dtm:MOEhwcvuRFCqccu3oj01pA/streams/AQAAAItqUc9Pd08inBO2PFeq3BwAAAAA" \
            -H "Content-Type: application/json" \
            -d @stream.json

      - name: Send JSON Data to Second URL
        run: |
          curl -X POST "https://:146vpt3bSw2oY50vRLnPow@eu.tandem.autodesk.com/api/v1/timeseries/models/urn:adsk.dtm:MOEhwcvuRFCqccu3oj01pA/streams/AQAAANaC2RaGIEcunHG8QL4tkB0AAAAA" \
            -H "Content-Type: application/json" \
            -d @stream.json
            

